body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f6f6f6;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #111;
  color: white;
}

.header h1 {
  margin: 0;
}

#cartBtn {
  background: orange;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* CARD */
.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* IMAGE */
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  cursor: pointer;
}

/* CONTENT */
.card h3 {
  margin: 10px;
  font-size: 16px;
}

.price {
  color: #e60023;
  font-weight: bold;
  margin: 0 10px;
}

/* BUTTON */
.card button {
  margin: 10px;
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.card button:hover {
  background: #333;
}

/* CART */
.cart-row {
  display: grid;
  grid-template-columns: 80px 1fr 120px 100px 40px;
  align-items: center;
  gap: 15px;
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.cart-row img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-info h3 {
  margin: 0;
}

.cart-qty button {
  padding: 5px 10px;
  margin: 0 5px;
}

.cart-total {
  font-weight: bold;
}

.remove-btn {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}

.order-card {
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}